{{- $codespaces:= env "CODESPACES" | not | not -}}

{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $codespaces -}}
{{-   $email = "15810377+joshuahunsberger@users.noreply.github.com" -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $name := "" -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- else if $codespaces -}}
{{-   $name = "Joshua Hunsberger" -}}
{{- else -}}
{{-   $name = promptString "name" -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    codespaces = {{ $codespaces }}
    zshPlugins = [
        "git",
        "zsh-syntax-highlighting",
    ]
