[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = {{ .name }}
	email = {{ .email }}
[include]
	path = ~/.gitalias
[core]
	attributesfile = ~/.gitattributes
	autocrlf = input
	pager = less -eFiJM~ -j3 --tabs=3
{{ if eq .chezmoi.os "windows" -}}
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{ end }}
[init]
	defaultBranch = main
[fetch]
	prune = true
	pruneTags = true
	all = true
[column]
	ui = auto
[branch]
	sort = -committerdate
