oh-my-posh init pwsh --config "~/.ohmyposh/powerlevel10k_dracula.omp.json" | Invoke-Expression

Set-Alias -Name g -Value git

# https://learn.microsoft.com/en-us/dotnet/core/tools/enable-tab-autocomplete#powershell
# PowerShell parameter completion shim for the dotnet CLI
dotnet completions script pwsh | Out-String | Invoke-Expression

Invoke-Expression (& { (zoxide init powershell | Out-String) })
